# Лекция 4

## Создание таблиц

Для создания новой таблицы в PostgreSQL Вы можете использовать команду *CREATE TABLE*:

```sql
CREATE TABLE table_name (
 column_name TYPE column_constraint,
 table_constraint table_constraint
);
```

- table_name - имя таблицы
- column_name - имя колонки
- TYPE - тип колонки
- column constraint - ограничение колонки
- table_constraint - ограничение таблицы

Ограничения колонок:
- NOT NULL
- UNIQUE – каждое значение (кроме NULL) должно быть уникально.
- PRIMARY KEY - комбинация NOT NULL + UNIQUE. На таблицу разрешен только один PRIMARY KEY

Ограничения таблиц:
- UNIQUE (column_list)–  уникальность на группу колонок.
- PRIMARY KEY(column_list) – первичный ключ по группе колонок.

Пример создания таблицы с пользователями:

```sql
CREATE TABLE account(
 user_id serial PRIMARY KEY,
 username VARCHAR (50) UNIQUE NOT NULL,
 password VARCHAR (50) NOT NULL,
 email VARCHAR (355) UNIQUE NOT NULL,
 created_on TIMESTAMP NOT NULL,
 last_login TIMESTAMP
);
```

## Изменение таблицы

Используется команад *ALTER TABLE*:

```sql
ALTER TABLE table_name action;
```

с ее помощью можно:
- добавить, удалить, переименовать или изменить тип у колонки
- установить значение по умолчанию
- переименовать таблицу

```sql
ALTER TABLE table_name ADD COLUMN new_column_name TYPE;
```

```sql
ALTER TABLE table_name DROP COLUMN column_name;
```

```sql
ALTER TABLE table_name RENAME COLUMN column_name TO new_column_name;
```

```sql
ALTER TABLE table_name ALTER COLUMN column_name [SET DEFAULT value | DROP DEFAULT]
```

```sql
ALTER TABLE table_name ALTER COLUMN column_name [SET NOT NULL| DROP NOT NULL]
```

```sql
ALTER TABLE table_name ADD CONSTRAINT constraint_name constraint_definition
```

```sql
ALTER TABLE table_name RENAME TO new_table_name;
```

## Удаление таблицы

Команда -  *DROP TABLE*

```sql
DROP TABLE [IF EXISTS] table_name [CASCADE | RESTRICT];
```

RESTRICT/CASCADE - если какие-то таблицы ссылаются на эту, то режим RESTRICT не даст удалить таблицу. Режим CASCADE - каскадно удалить зависимости.

## Практика 1

Создайте таблицу "автор" с полями:
    - id
    - full name
    - псевдоним (может не быть)
    - дата рождения

## Вставка данных

Пример:

```sql
INSERT INTO table(column1, column2, …)
VALUES
 (value1, value2, …);
```

- table - название таблицы
- column1, ... - названия колонок
- value1, ... - значения для вставки


```sql
CREATE TABLE link (
 ID serial PRIMARY KEY,
 url VARCHAR (255) NOT NULL,
 name VARCHAR (255) NOT NULL,
 description VARCHAR (255),
 rel VARCHAR (50)
);
```

```sql
INSERT INTO link (url, name)
VALUES
 ('http://www.google.com','Google');
```
 
Можно вставлять несколько строк одновременно:

```sql
INSERT INTO table (column1, column2, …)
VALUES
 (value1, value2, …),
 (value1, value2, …) ,...;
```

```sql
INSERT INTO link (url, name)
VALUES
 ('http://www.yahoo.com','Yahoo'),
 ('http://www.bing.com','Bing');
```

## Модификация данных

Команда:
```sql
UPDATE table
SET column1 = value1,
    column2 = value2 ,...
WHERE
 condition;
```

Пример:
```sql
UPDATE link
SET description = 'no description'
WHERE
 description IS NULL;
```

Обновление всех строк:
```sql
UPDATE link
SET rel = 'nofollow';
```

Все ряды основываясь на другой колонке:
```sql
UPDATE link
SET description = name;
```

## Удаление данных

Команда:
```sql
DELETE FROM table
WHERE condition;
```

Пример:
```sql
DELETE FROM link
WHERE id = 1;
```

## Практика 2
- Вставьте данные по 3-м любым писателям в указнную таблицу
- Добавьте поле "место рождения" в таблицу
- Обновите данные, проставив корректное место рождения писателю

**надо использовать только sql команды**

## Внешние ключи

Внешний ключ - это поле, которые ссылается на строку в другой таблице. Таблица, содержащая внешний ключ обычно называется "дочерней", а таблица на которую указывают - "родительской".

Таблица может содержать несколько внешний ключей.

таблица адресов доставки:
```sql
CREATE TABLE so_headers (
 id SERIAL PRIMARY KEY,
 customer_id INTEGER,
 ship_to VARCHAR (255)
);
```

заказы:
```sql
CREATE TABLE so_items (
  item_id INTEGER NOT NULL, 
  so_id INTEGER,
  product_id INTEGER,
  qty INTEGER,
  net_price NUMBER,
  PRIMARY KEY (item_id,so_id)
);
```

Еслим мы хотим показать, что so_id ссылается на строку в so_headers (и требует, чтобы она была, то можно передать срикпт создания таблицы:
```sql
CREATE TABLE so_items (
  item_id INTEGER NOT NULL, 
  so_id INTEGER REFERENCES so_headers(id),
  product_id INTEGER,
  qty INTEGER,
  net_price numeric,
  PRIMARY KEY (item_id,so_id)
);
```

Другой способ записи:
```sql
CREATE TABLE so_items (
 item_id INTEGER NOT NULL,
 so_id INTEGER,
 product_id INTEGER,
 qty INTEGER,
 net_price NUMERIC,
 PRIMARY KEY (item_id, so_id),
 FOREIGN KEY (so_id) REFERENCES so_headers (id)
);
```

PostgreSQL создает констраинт, который будет проверять наличие строки в so_headers при любом изменении таблицы so_items. Кроме того, из so_headers удалять можно будет только строки, на которые никто не ссылается из so_items,

## Проверяющие ограничения

CHECK ограничение позволяет проверять допустимое множество значений для поля. Пример:

```sql
CREATE TABLE employees (
 id serial PRIMARY KEY,
 first_name VARCHAR (50),
 last_name VARCHAR (50),
 birth_date DATE CHECK (birth_date > '1900-01-01'),
 joined_date DATE CHECK (joined_date > birth_date),
 salary numeric CHECK(salary > 0)
);
```

### Практика 3
- Создайте таблицу "Произведения" с полями: год, название, ссылка на автора. Установите foreign key contsraint
- Вставьте в таблицу пару значений
- Попробуйте удалить автора

## Домашнее задание:

Спроектируйте базу данных для следующих сущностей: 
- Язык (в смысле английский, французский и тп)
- Народность (в смысле славяне, англосаксы и тп)
- Страны (в смысле Россия, Германия и тп)

Правила следующие:
- На одном языке может говорить несколько народностей
- Одна народность может входить в несколько стран
- Каждая страна может состоять из нескольких народностей

Пришлите скрипты создания таблиц и заполнения их 5-ю строками данных